<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/ckeditor/ckeditor.js"></script>
    <script src="../js/main.js"></script>
    <title>Thread</title>
</head>
<body>
    <%-include("header.ejs")%>
    <div class="thread">
        <div class="title"><%=thread[0][0].title%></div>
        <div class="content"><%=thread[0][0].content%></div>
        <div class="date"><%=thread[0][0].date%></div>
        <div class="title"><%=thread[0][0].title%></div>

        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
        <div class="wrapper">
            <div class="send" data-id="<%=thread[0][0]._id%>">Comment</div>
            <div class="to">to: </div>
            <div class="replyBlock"></div>
    </div>
        

        <%function getComment(id,toUser,comment) {%>
            <%for(i in thread[1]) {%>
                <%if(i <= thread[1].length) {%>
                    <%if(thread[1][i].toUserId == id) {%>
                        <div class="comment">
                            <div><%-thread[1][i].author%></div>
                            <div><%-thread[1][i].date%></div>
                            <div><%-thread[1][i].content%></div>
                            <div class="navbar">
                                <div class="reply" data-id="<%-thread[1][i]._id%>" data-name="<%-thread[1][i].author%>">Reply</div>
                                <div class="share">Share</div>
                            </div>
                            <%getComment(thread[1][i]._id,thread[1][i].toUserId,thread[1]);%>
                        </div>
                    <%}%>
                <%}else {%>
                    <%break;%>
                <%}%>
            <%}%>
        <%}%>
        <%getComment();%>
    </div>
</body>
</html>